*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* general rulez */
i{
    color: #757575;
}

.header{
    width: 100%;
}

.row{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
}
.logo img{
    width: 150px;
    margin-left: 25px;
}
.searchbar{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain-search{
    width: 80%;
    border: 1px solid #cdcdcd;
    padding: 8px;
    border-radius: 8px;
}
#cerca{
    padding: 10px 8px;
    width: 90%;
    margin-left: 10px;
    border: none;
    outline: 0;
}
.options{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.options ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.options ul li i{
    font-size: 20px;;
}

.subcontainer{
    width: 100%;
    height: 100%;
    display: flex;
}
.col-sx{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.scrivi{
    margin: 10px 0;
    width: 100px;
    height: 50px;
    box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.377); 
    border-radius: 30px;
    display:flex;
    align-items: center;
    margin-left: 15px;
}

ul.menu-col-sx{
    min-height: 50px;
    height: 400px;
    background-color: white;
    /* debug */
    padding: 3%;
    /* debug */
    border-top: 1px solid lightslategrey;
    border-bottom: 1px solid lightslategrey;
}

ul.menu-col-sx li{
    line-height: 2.3;
}

ul.menu-col-sx li:hover {
    background-color: #fce8e6;
    color: #db392f;
    cursor: pointer;
}

ul.menu-col-sx li:hover i{
    color: #db392f;
    cursor: pointer;
    font-size: 20px;
}

ul.menu-col-sx li span{
    margin-right: 10px;
}

div.internal-scrivi{
    z-index: 2;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-image: url('https://www.gstatic.com/images/icons/material/colored_icons/2x/create_32dp.png');
}

.meet{
    height: 80px;
    width: 100%;
        padding: 3%;
}

.hangouts{
    height: 80px;
    width: 100%;
    padding: 3%;
}

div.profile-hang{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #a0c3ff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 5px;
    overflow-y: hidden;
}

.circle i{
    color: #4374e0;
    font-size: 28px;
}


div.chats{
    min-height: 200px;
    max-height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.404);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* end col-sx */
.main-dx{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-header{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-all{
    width: 15%;
    border-color: bisque;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quadrato:hover{
    display: flex;
    align-items: center;
    padding: 5px;
    width: 35px;
    height: 30px;
    background-color: rgba(119, 136, 153, 0.315);
    border: 1px solid black;
}

div.gestion{
    margin-right: 20px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul.choice{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}
ul.choice li{
    flex-basis: calc(100% / 3);
    border: 1px solid white;
    padding: 1%;
}
ul.choice li:hover{
    background-color: #fce8e6;
    border-bottom: 2px solid #db392f;
    cursor: pointer;
    color:#db392f;
    font-weight: 500;
}
ul.choice li:hover i{
    color: #db392f;
}
ul.menu-active{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}
ul li.mail-row{
    width: 100%;
    display: flex;
    line-height: 1.6;
    padding: 5px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

ul li.mail-row:hover{
    height: 70px;
}

li div.title-mail{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}
/* 
 li div.contenuto{
    width: 30%;
    height: 100%;
    padding-left: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} */

div.mail-checkbox{
    width: 15%;
    display: flex;
    justify-content: space-around;
}